Checks: >
  -*, 
  bugprone-*, 
  misc-*, 
  performance-*,
  readability-*, 
  -readability-braces-around-statements, 
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers, 
  -readability-named-parameter,
WarningsAsErrors: '*'
CheckOptions:
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: aNy_CasE
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantPrefix
    value: k
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantPrefix
    value: k
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: 1
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: 1
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: 1
    